<!doctype html>
<html>
    {{> headbici}}
    <body>
        {{> navbar}}
        <div class="content pure-u-1 pure-u-md-3-4">
              <div>
                <!-- A wrapper for all the blog posts -->
                <div class="posts">
                  <section class="post">
                    <div class="post-description">
                      <div id="map"> </div>
                      Statistiche giro:
                      <ul>
                        <li>nome: {{nome}}</li>
                        <li>lunghezza in km: {{distanza}}</li>
                        <li>velocita' media: {{media}}</li>
                      </ul>
                    </div>
                    <script>
                      mapboxgl.accessToken = '{{mapbox_key}}';
                      var geojson = {{{gpx}}} ;
                      var coordinates = geojson.features[0].geometry.coordinates;
                      var middlePoint = coordinates[Math.round(coordinates.length/2)];
                      var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/light-v10',
                        center: [middlePoint[0], middlePoint[1]],
                        zoom: 9
                      });
                      map.on('load', function() {
                        map.addSource('LineString', {
                          'type': 'geojson',
                          'data': geojson
                        });
                        map.addLayer({
                          'id': 'LineString',
                          'type': 'line',
                          'source': 'LineString',
                          'layout': {
                            'line-join': 'round',
                            'line-cap': 'round'
                          },
                          'paint': {
                            'line-color': '#BF93E4',
                            'line-width': 5
                          }
                        });

                        // Pass the first coordinates in the LineString to `lngLatBounds` and
                        // wrap each coordinate pair in `extend` to include them in the bounds
                        // result
                        var bounds = coordinates.reduce(function(bounds, coord) {
                          return bounds.extend(coord);
                        }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));

                        map.fitBounds(bounds, {
                          padding: 20
                        });
                        map.addControl(new mapboxgl.NavigationControl());
                        // add markers to map
                        // create a HTML element for each feature
                        var el = document.createElement('div');
                        el.className = 'marker';

                        // make a marker for first point
                        new mapboxgl.Marker(el)
                          .setLngLat(coordinates[0])
                          .addTo(map);

                        var el = document.createElement('div');
                        el.className = 'end-marker';

                        // make a marker for first point
                        new mapboxgl.Marker(el)
                          .setLngLat(coordinates[coordinates.length - 1])
                          .addTo(map);
                      });
                    </script>
                </div>
              </div>
        </div>
  </body>
</html>
